:root {
    --primery-font: "Fira code", sans-serif, arial;
    --font-SemiBold: "FC SemiBold", sans-serif, arial;
    --font-FiraCode-Bold: "FC Bold", sans-serif, arial;
    --font-FiraCode-Medium: "FC Medium";
    --primery-color: #C778DD;
    --backgruond: #282C33;
    --white: #FFFFFF;
    --gray: #ABB2BF;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primery-font);
    background-color: var(--backgruond);
    position: relative;
}

/*Resat Style*/

a {
    text-decoration: none;
}

/*
============================
           header
============================
*/

.header {
    padding-top: 2rem;
}

/*
============================
            nav
============================
*/

.nav {
    display: flex;
    justify-content: space-between;
}

.logo-web {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 1.6rem;
    color: var(--white);
    height: 1.6rem;
    font-family: var(--font-FiraCode-Bold);
}

.logo-web__img {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

/*
============================
           ul/MENU
============================
*/

.menu {
    display: flex;
    gap: 3rem;
}

.menu__item {

}

.menu__link {
    color: var(--gray);
    transition: color 150ms ease-in;
}

.menu__link:hover {
    color: var(--white);
}

.menu__link--active {
    color: var(--white);
}

.menu__link-span {
    color: #C778DD;
}

.nav-select {
    background-color: var(--backgruond);
    outline: none;
    border: none;
    color: var(--gray);
    font-family: var(--font-SemiBold);
}

/*
============================
            Nav Mobile
============================
*/

.nav-mobile{
    width: 2.6rem;
    height: 1.2rem;
    cursor: pointer;
    display: none;
}

.nav-mobile__line{
    display: inline-block;
    width: 2.4rem;
    height: .2rem;
    background-color: var(--gray);
    border-radius: 5rem;
    position: relative;

}

.nav-mobile__line::before{
    content: '';
    width: 1.5rem;
    height: .2rem;
    background-color: var(--gray);
    border-radius: 5rem;
    position: absolute;
    top: .8rem;
    right: 0rem;
}

/*
============================
            Icons
============================
*/

.icons-header{
    position: relative;
}

.icons-header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: -7rem;
    top: -6rem;
}

.icon-width {
    width: 0.2rem;
    height: 20rem;
    background-color: var(--gray);
}

.icon-header__link{
    display: block;
    height: 3rem;
}

/*
============================
          Content
============================
*/

.section-content {
    margin-top: 10rem;
}

.contents {
    display: flex;
    justify-content: space-between;
}

/*
============================
        Content Left
============================
*/

.content-left {
    flex-basis: 50%;
    margin: 5rem 1.5rem 0 0;
}

.content-left__title {
    width: 44rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-family: var(--font-SemiBold);
    color: var(--white);
}

.title-span {
    color: var(--primery-color);
}

.content-left__caption {
    width: 47rem;
    color: var(--gray);
}

.content-left__link {
    color: var(--white);
    font-family: var(--font-FiraCode-Medium);
    border: solid var(--primery-color) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    margin-top: 2rem;
}

/*
============================
       Content Right
============================
*/

.content-right {
    flex-basis: 50%;
}

.content-right__banner::before {
    content: '';
    position: absolute;
    top: 8.7rem;
    left: -1rem;
    width: 15.6rem;
    height: 15.7rem;
    background-image: url("../images/svgs/Logo.svg");
    z-index: -1;
}

.content-right__banner {
    position: relative;
}

.content-right__img {
    object-fit: cover;
    display: block;
}

.content-right__banner::after {
    content: '';
    position: absolute;
    bottom: 6rem;
    right: 21rem;
    width: 8.4rem;
    height: 8.4rem;
    background-image: url("../images/svgs/Dots.svg");
}

.content-right__caption {
    width: 40rem;
    margin-left: 2rem;
    border: solid var(--gray) 1px;
    padding: .5rem 2.5rem .5rem 5rem;
    font-family: var(--font-FiraCode-Medium);
    color: var(--gray);
    position: relative;
}

.content-right__caption::before {
    content: '';
    position: absolute;
    top: 0.8rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--primery-color);
}

.right-box__span {
    color: var(--white);
    font-family: var(--font-SemiBold);
}